Flask==3.0.0
requests==2.31.0
icalendar==5.0.11
pytz==2024.1
gevent==23.9.1
certifi
pillow
flask
icalendar
python-dotenv
pytz
requests
werkzeug
aiohttp
pyunifi
websockets
eventlet
flask-socketio
unifi-api
python-engineio
python-socketio
urllib3
opencv-python-headless
opencv-python
unifi-video
numpy
tflite-runtime
numpy==1.24.3
